*
{
	border: none;
	/* `otf-font-awesome` is required to be installed for icons */
	font-family: "Apple Garamond", "FontAwesome 5 Brands", "FontAwesome 5 Free", "FontAwesome";
	font-size: 16pt;
	min-height: 0;
}

window#waybar
{
	background-color: rgba(40, 40, 40, 0.85);
	color: #ebdbb2;
}

window#waybar.upper-tray
{
	border-radius: 0px;
}

window#waybar.lower-bar
{
	border-bottom-left-radius: 30px;
	border-bottom-right-radius: 30px;
}

#network {	color: #98971a	}
#network.disabled, #network.disconnected {	color: #cc241d	}

#workspaces button
{
	color: #ebdbb2;
	background-color: rgba(40, 40, 40, 0.85);
	border-radius: 30px;
}

#workspaces button.visible
{
	background-color: #32302f;
	color: #fbf1c7;
}

#workspaces button.focused
{
	background-color: #32302f;
	color: #fbf1c7;
}

#workspaces button:hover
{
	background-color: #32302f;
}

#workspaces button.urgent
{
	background-color: #d65d0e;
}

#mpd.playing, #mpd.stopped
{
	color: #fbf1c7;
}

#mpd.paused, #pulseaudio.muted
{
	color: #ebdbb2;
}

*.one	{	color: #ebdbb2;	}
*.two	{	color: #98971a;	}
*.three	{	color: #689d6a;	}
*.four	{	color: #458588;	}
*.five	{	color: #d79921;	}
*.six	{	color: #d65d0e;	}
*.seven	{	color: #cc241d;	}
*.eight	{	color: #b16286;	}
