*
{
	border: none;
	/* `otf-font-awesome` is required to be installed for icons */
	font-family: "PragmataPro Liga", "FontAwesome 5 Brands", "FontAwesome 5 Free", "FontAwesome";
	font-size: 16pt;
	min-height: 0;
}

window#waybar
{
	background-color: rgba(53, 10, 00, 0.85);
	color: #968482;
	transition-property: background-color;
	transition-duration: .5s;
	border-bottom-left-radius: 30px;
	border-bottom-right-radius: 30px;
}

window#waybar.upper-tray
{
	border-radius: 0px;
}

window#waybar.lower-bar
{
	border-bottom-left-radius: 30px;
	border-bottom-right-radius: 30px;
}

#network {	color: #859900	}
#network.disabled, #network.disconnected {	color: #dc322f	}

#workspaces button
{
	color: #968482;
	background-color: rgba(53, 10, 00, 0);
	border-radius: 30px;
}

#workspaces button:hover
{
	background-color: rgba(66, 19, 7, 1);
}

#workspaces button.visible
{
	color: #755e57;
}

#mpd.paused, #pulseaudio.muted
{
	color: #755e57;
}

*.one	{	color: #859900;	}
*.two	{	color: #2aa198;	}
*.three	{	color: #268bd2;	}
*.four	{	color: #6c71c4;	}
*.five	{	color: #b58900;	}
*.six	{	color: #cb4b16;	}
*.seven	{	color: #dc322f;	}
*.eight	{	color: #d33682;	}
